p {
  color: #8a9193; }

h2 {
  font-family: "Sheldon", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #fec371;
  font-size: 110px;
  line-height: 106px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 35px;
  font-family: "BodoniBT-Book", "Georgia", serif;
  color: #1c2123; }

.subheading {
  font-family: "BodoniBT-Book", "Georgia", serif;
  color: #8a9193; }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #1c2123; }

.reverse h1 span, .reverse h2 span, .reverse h3 span, .reverse h4 span, .reverse h5 span, .reverse h6 span {
  color: #fff; }
.reverse p {
  color: #fff; }

.yellow h1, .yellow h2, .yellow h3, .yellow h4, .yellow h5, .yellow h6 {
  color: #1c2123; }
.yellow p {
  color: #1c2123; }
.yellow h2 {
  margin-bottom: 30px; }

.panel#hero h2 {
  margin-bottom: 30px; }

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], select {
  background-color: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #000;
  padding-left: 0;
  font-size: 18px;
  padding: 24px 0 24px 0;
  margin-bottom: 30px;
  font-weight: bold;
  color: #1c2123 !important; }
  input[type="text"]:active, input[type="text"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="tel"]:active, input[type="tel"]:focus, input[type="email"]:active, input[type="email"]:focus, select:active, select:focus {
    background-color: transparent;
    border-color: #fff; }
  input[type="text"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="email"]:hover, select:hover {
    background-color: transparent; }

select {
  padding: 0;
  height: 48px; }
  select:hover {
    border-color: #fff;
    color: #1c2123;
    cursor: pointer; }

label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  color: #1c2123; }
  label a {
    color: #1c2123;
    border-bottom: 1px dotted #1c2123; }
    label a:hover {
      color: #1c2123; }

form h4 {
  font-family: "Sheldon", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-bottom: 25px;
  text-align: center;
  margin-top: 35px; }

form p {
  font-size: 12px; }

input[type="radio"] {
  margin-top: 20px;
  margin-bottom: 40px; }

input[type="checkbox"] {
  margin-right: 5px; }

.radioLabel {
  font-size: 15px;
  text-transform: none;
  position: relative;
  top: 1px;
  font-weight: 300; }

button[type="submit"] {
  display: block;
  margin: 20px auto 0px auto;
  padding: 10px 110px;
  width: 100%;
  background-color: #1c2123;
  color: #fff;
  font-family: "Sheldon", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  border-radius: 12px; }
  button[type="submit"]:hover {
    background-color: #272e31;
    cursor: pointer; }

::-webkit-input-placeholder {
  font-weight: 300;
  color: #1c2123;
  opacity: 0.2; }

::-moz-placeholder {
  color: #909;
  opacity: 1; }

::-ms-input-placeholder {
  color: #909; }

.manager-form, .staff-form {
  display: none;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity, 400ms;
  -moz-transition: opacity, 400ms;
  -transition: opacity, 400ms;
  -webkit-transition: -webkit-transform, 400ms;
  -moz-transition: -webkit-transform, 400ms;
  -transition: -webkit-transform, 400ms;
  -webkit-transition: transform, 400ms;
  -moz-transition: transform, 400ms;
  -transition: transform, 400ms; }

.form-invisible {
  opacity: 0.5;
  -webkit-transform: translate(0, 100px);
  transform: translate(0, 100px); }

.passStrengthify {
  width: 100%;
  display: block !important;
  font-size: 11px !important;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 0px; }
  .passStrengthify .strength {
    width: 14.28571% !important;
    margin-right: 0 !important;
    display: inline-block;
    height: 39px !important;
    max-height: none !important;
    border-top: 1px solid #1c2123;
    border-bottom: 1px solid #1c2123;
    border-right: none;
    -webkit-transition: background-color, 600ms;
    -moz-transition: background-color, 600ms;
    -transition: background-color, 600ms;
    position: relative;
    top: 10px; }
  .passStrengthify .strength:last-of-type {
    border-right: 1px solid #1c2123; }
  .passStrengthify .strength:first-of-type {
    border-left: 1px solid #1c2123; }

.panel {
  padding: 50px 0; }
  @media screen and (max-width: 1090px) {
    .panel {
      padding: 50px 20px; } }

.panel#hero {
  background-color: #1c2123; }

.content-panel {
  padding: 100px 0; }

.panel.grey {
  background-color: #394144; }

.panel.yellow {
  background-color: #fec371; }

.prize-list {
  margin-top: 115px;
  text-align: center; }
  .prize-list img {
    display: block;
    margin: 0 auto; }
  .prize-list .subheading {
    font-size: 35px;
    color: #1c2123;
    margin-top: 30px; }

.how-it-works {
  padding-top: 70px; }

.enter-callout {
  text-align: center; }

.sign-up-as {
  margin-top: 20px;
  font-family: "Sheldon", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 35px;
  margin-bottom: 50px; }
  .sign-up-as span {
    display: block; }
  .sign-up-as img {
    margin-top: 30px; }

.block {
  background: #1c2123;
  -webkit-transition: background, 400ms;
  -moz-transition: background, 400ms;
  -transition: background, 400ms;
  -webkit-transition: opacity, 400ms;
  -moz-transition: opacity, 400ms;
  -transition: opacity, 400ms;
  padding: 30px 40px 10px 40px; }
  .block p, .block h4 {
    color: #fff;
    -webkit-transition: color, 400ms;
    -moz-transition: color, 400ms;
    -transition: color, 400ms; }
  .block:hover {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    cursor: pointer;
    background-color: #272e31; }

.chosen-block {
  background: #fff;
  -webkit-transform: scale(1.06);
  transform: scale(1.06); }
  .chosen-block p, .chosen-block h4 {
    color: #000; }
  .chosen-block:hover {
    background-color: #fff; }
    .chosen-block:hover p, .chosen-block:hover h4 {
      color: #000; }

.reject-block {
  opacity: 0.5;
  -webkit-transform: scale(0.95);
  transform: scale(0.95); }

.user-type {
  padding-left: 30px;
  margin-bottom: 30px; }

footer {
  background: #1c2123;
  padding: 20px 0;
  text-align: center; }
  footer p {
    font-family: "BodoniBT-Book", "Georgia", serif;
    margin: 0;
    color: #8a9193; }

#sign-up {
  min-height: 800px; }

.header-image {
  margin-bottom: 36px;
  display: block; }
  @media screen and (max-width: 1090px) {
    .header-image {
      width: 200px; } }

.hero-illo {
  position: absolute;
  width: auto;
  max-width: none;
  top: 130px; }
  @media screen and (max-width: 1250px) {
    .hero-illo {
      width: 510px;
      top: 240px; } }
  @media screen and (max-width: 1090px) {
    .hero-illo {
      width: 460px; } }
  @media screen and (max-width: 1030px) {
    .hero-illo {
      display: none; } }

.illo-hiw {
  position: relative;
  top: 10px;
  margin-bottom: 160px; }
  @media screen and (max-width: 1030px) {
    .illo-hiw {
      margin-bottom: 0; } }

.illo-head {
  position: absolute; }

.button {
  width: 100%;
  display: block;
  font-family: "Sheldon", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #1c2123;
  font-size: 28px;
  padding: 10px;
  border-radius: 12px; }
  .button:hover {
    cursor: pointer; }

.button.primary {
  background-color: #bad6eb; }
  .button.primary:hover {
    background-color: #f5f9fc;
    color: #1c2123; }

/*# sourceMappingURL=style.css.map */
