input[type="text"], input[type="password"], input[type="tel"], input[type="email"], select
	background-color: transparent
	box-shadow: none
	-webkit-appearance: none
	border: none 
	border-bottom: 1px solid #000
	padding-left: 0
	font-size: 18px
	padding: 24px 0 24px 0
	margin-bottom: 30px
	font-weight: bold
	color: $black!important
	&:active, &:focus 
		background-color: transparent 
		border-color: #fff
	&:hover 
		background-color: transparent

select 
	padding: 0
	height: 48px
	&:hover 
		border-color: #fff
		color: $black
		cursor: pointer
label 
	text-transform: uppercase
	font-size: 11px
	font-weight: 500
	color: $black
	a 
		color: $black 
		border-bottom: 1px dotted $black

form h4 
	font-family: $heading
	margin-bottom: 25px
	text-align: center
	margin-top: 35px

form p 
	font-size: 12px

input[type="radio"]
	margin-top: 20px
	margin-bottom: 40px

input[type="checkbox"]
	margin-right: 5px

.radioLabel
	font-size: 15px
	text-transform: none
	position: relative
	top: 1px
	font-weight: 300

button[type="submit"]
	display: block
	margin: 20px auto 0px auto
	padding: 10px 110px
	width: 100%
	background-color: $black
	color: #fff
	font-family: $heading
	font-size: 32px
	letter-spacing: 1px
	border-radius: 12px
	&:hover 
		background-color: lighten($black, 5%)
		cursor: pointer

// placeholder text
::-webkit-input-placeholder
	font-weight: 300
	color: $black
	opacity: 0.2

::-moz-placeholder
	color: #909
	opacity: 1

::-ms-input-placeholder
	color: #909
