.panel 
	padding: 50px 0
	+at($medium)
		padding: 50px 20px
.panel#hero 
	background-color: $black
.content-panel 
	padding: 100px 0
.panel.grey 
	background-color: $grey

.prize-list 
	margin-top: 115px
	text-align: center
	img 
		display: block 
		margin: 0 auto 
	.subheading 
		font-size: 35px 
		color: $black
		margin-top: 30px
