$serif: 'BodoniBT-Book', "Georgia", serif
$heading: 'Sheldon', "Helvetica Neue", "Helvetica", "Arial", sans-serif

p 
	color: $light-grey
	+at($small)
		text-align: center

h2 
	font-family: $heading
	color: $yellow
	font-size: 110px
	line-height: 106px
	+at($mobile)
		font-size: 60px
		line-height: 58px

h3 
	font-size: 25px
	+at($mobile)
		font-size: 20px
h4 
	font-size: 35px
	font-family: $serif
	color: $black

.subheading 
	font-family: $serif
	color: $light-grey

h1, h2, h3, h4, h5, h6
	span
		color: $black
	+at($small)
		text-align: center

// class to reverse out the <span> in headings
.reverse
	h1, h2, h3, h4, h5, h6 
		span
			color: #fff
	p 
		color: #fff
.yellow
	h1, h2, h3, h4, h5, h6
		color: $black
	p 
		color: $black
	h2 
		margin-bottom: 30px

// exception for the margin on the heading in the hero panel
.panel#hero 
	h2 
		margin-bottom: 30px